
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Please Sign In</h3>
				</div>
				<div class="panel-body">
					<form ng-submit="login()" novalidate="novalidate">
						<fieldset>
							<div ng-view></div>
							<div class="form-group">
								<input class="form-control" placeholder="Username" name="username"
									type="text" ng-model="loginData.username"
									required="required" ng-minlength="3" ng-maxlength="40" autofocus>
							</div>
							<div class="form-group">
								<input class="form-control" placeholder="Password"
									name="password" type="password" ng-model="loginData.password" 
									required="required" ng-minlength="6" ng-maxlength="40" value="">
							</div>
							<div class="checkbox">
								<label><a href="#">Sign Up</a></label>
							</div>
							<!-- Change this to a button or input when using this as a form -->
							<button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>	