<div id="wrapper">

	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-static-top" role="navigation"
		style="margin-bottom: 0">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">Nome Usuario</a>
		</div>
		<!-- /.navbar-header -->

		<ul class="nav navbar-top-links navbar-right">

			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" ui-sref="."> <i class="fa fa-user fa-fw"></i>
					<i class="fa fa-caret-down"></i>
			</a>
				<ul class="dropdown-menu dropdown-user">
					<li><a href="#"><i class="fa fa-user fa-fw"></i> User
							Profile</a></li>
					<li class="divider"></li>
					<li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i>
							Logout</a></li>
				</ul> <!-- /.dropdown-user --></li>
			<!-- /.dropdown -->
		</ul>
		<!-- /.navbar-top-links -->

		<div class="navbar-default sidebar" role="navigation">
			<div class="sidebar-nav navbar-collapse">
				<ul class="nav" id="side-menu">
					<li><a ui-sref="dashboard"><i
							class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
				</ul>
			</div>
			<!-- /.sidebar-collapse -->
		</div>
		<!-- /.navbar-static-side -->
	</nav>
	
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">New Instance</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Create new instance</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-6">
								<form ng-submit="create()" novalidate="novalidate">
									<input type="hidden" ng-model="userInstance.userId" value="1" />
									<div class="form-group">
										<label>How many</label> <input ng-model="userInstance.quantity"
											class="form-control" type="number" min="1" placeholder="Quantity"
											required="required">
									</div>
									<div class="form-group">
										<label>Instance</label> <select class="form-control" required="required" ng-model="userInstance.instanceId">
											<option ng-repeat="instance in instances" value="{{instance.id}}">{{instance.name}}</option>
										</select>
									</div>
									<div class="form-group">
										<label>Operating System</label> <select class="form-control" required="required" ng-model="userInstance.operatingSystemId">
											<option ng-repeat="operatingSystem in operatingSystems" value="{{operatingSystem.id}}">{{operatingSystem.name}}</option>
										</select>
									</div>
									 <div class="form-group">
                                        <label>Turn On</label>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="userInstance.status" value="ON">
                                            </label>
                                        </div>
                                    </div>
									<button type="submit" class="btn btn-default">Create</button>
								</form>
							</div>
						</div>
						<!-- /.row (nested) -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
		</div>
		<!-- /#page-wrapper -->

	</div>